 body {
    padding: 80px 40px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 25px;
}

h2 {
    font-size: 18px; 
}

p {
    text-align: justify;
}

#sectionChangeOptions{
    float: left;
    margin: 50px;
    border: 1px solid gray;
    padding: 15px 15px;
}

button {
    padding: 5px 5px;
    background-color:ghostwhite;
    border: 1px solid rgb(70, 68, 68);
    color:black;
    cursor: pointer;
}

#text { 
   margin-left: 480px;
   margin-right: 100px;
}

.clearButton {
    margin-top: 30px;
}