* {
  margin: 0;
  background-color: bisque;
}

body {
  margin-top: 100px;
  text-align: center;
}

h1 {
  color: brown;
  margin-bottom: 50px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 25px;
}
